.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;


  .input {
    width: 300px;
    padding: 10px;
  }

  .textarea {
    width: 300px;
    padding: 10px;
    resize: none;
  }

  .buttons{
    display: flex;
    gap: 10px;
  }
  
  .button {
    padding: 10px;
    border: none;
  }
}