.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: rgb(158, 135, 135);
    padding: 20px;

    .button {
        border: none;
        padding: 5px;
        background-color: aliceblue;
        border-radius: 10px;
    }
}