.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 30px 50px;
    border: 1px solid black;
    border-radius: 8px;
    background: white;
    overflow: hidden;
}

.title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    color: #1e1e1e;
}

.description {
    margin: 0;
    color: #444;
    line-height: 1.4;
    font-size: 14px;
}

.button {
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}