.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.input {
  width: 50%;
  height: 35px;
  border-radius: 10px;
}

.textarea {
  width: 50%;
  height: 50px;
  resize: none;
}

.button {
  width: 50%;
  height: 50px;
  resize: none;
  border: none;
}